<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='difficulty.css') }}">
    <title>Selecciona Dificultad</title>
</head>
<body>
    <div class="content">
        <h1>SELECCIONA DIFICULTAD</h1>
        <form action="/play" method="post">
            <button type="submit" name="difficulty" value="easy" class="difficulty-button">Fácil</button>
            <button type="submit" name="difficulty" value="medium" class="difficulty-button">Media</button>
            <button type="submit" name="difficulty" value="hard" class="difficulty-button">Difícil</button>
        </form>
    </div>
</body>
</html>
